.navbar {
  border-radius: 10px;
}
.navbar-brand {
  color: #f66867
}

.navbar-brand:hover {
  color: #f66867 !important;
  font-weight: bold;
}

.navbar-brand:visited {
  color: #f66867;
}

.close-button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1em;
  margin-left: 5px;
  cursor: pointer;
}
.close-button:hover {
  text-decoration: underline;
  color:red
}


