.comment {
	background-color: #edeae0;
}

.profile-pic {
	width: 100%;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

.checked {
	color: orange;
}

@media (max-width: 991.98px) {
	.profile-pic {
		max-width: 80px;
	}
}
